<ul class="breadcrumb">
    <li class="house">
        <a class="icon house" href="{{ path('repository_tree', {'reference': active_branch.name }) }}"></a>
    </li>
    {% for bc in tree.breadcrumb %}
        <li{{ loop.last and tree.blob is null ? ' class="last"' : '' }}>
            <a class="icon tree" href="{{ path('repository_tree', {'reference': ref ~ '/' ~ bc.path }) }}">
                {{ bc.label }}
            </a>
        </li>
    {% endfor %}
    {% if tree.blob is not null %}
        <li class="last">
            <a class="icon blob" href="#">
                {{ tree.blob }}
            </a>
        </li>
    {% endif %}
</ul>