<section class="tree">
    <ul class="tree">
        {% set odd = true %}
        {% if not tree.root and not tree.blob %}
            {% set odd = false %}
            {% set first_row = true %}
            <li class="odd">
                <a class="icon tree" href="{{ path(subtreeRoute, {'ref': active_branch.name, 'treeish_path': tree.parent }) }}">&hellip;</a>
            </li>
        {% endif %}
        {% for node in tree %}
            {% if node.tree %}
                {% set full_path = app.request.get('treeish_path') ~ (tree.isRoot ? '' : '/') ~ node.name %}
                <li class="{{ odd ? 'odd' : 'even' }}">
                    <a class="icon tree" href="{{ path(subtreeRoute, {'ref': ref, 'treeish_path': full_path}) }}">
                        {{ node.name }}<span>{{ repository.getLog(node, active_branch).sha }} ({{ repository.getLog(node, active_branch).message }})</span>
                    </a>
                </li>
            {% elseif node.link %}
                <li class="{{ odd ? 'odd' : 'even' }}"><a class="icon link" href="#">{{ node.name }} ({{ node.sha }})</a></li>
            {% else %}
                {% set full_path = app.request.get('treeish_path') ~ (tree.isRoot ? '' : '/') ~ node.name %}
                <li class="{{ odd ? 'odd' : 'even' }}">
                    <a class="icon blob" href="{{ path(subtreeRoute, {'ref': ref, 'treeish_path': full_path }) }}">
                        {{ node.name }}<span>{{ repository.getLog(node, active_branch).sha }} ({{ repository.getLog(node, active_branch).message }})</span>
                    </a>
                </li>
            {% endif %}
            {% set odd = not odd %}
        {% else %}
            {% if tree.blob %}
                <li class="content">
                    <pre class="brush: php">{{ tree.blob.output(repository.path) }}</pre>
                </li>
            {% else %}
                <li class="empty">Empty repository</li>
            {% endif %}
        {% endfor %}
    </ul>
</section>