<section class="tree">
    <table class="tree" width="600">
        {% set odd = true %}
        {% if not tree.root and not tree.blob %}
            {% set odd = false %}
            {% set first_row = true %}
            <tr>
                <td class="odd" colspan="2">
                    <a class="icon tree" href="{{ path(subtreeRoute, {'reference': active_branch.name ~ '/' ~ tree.parent }) }}">&hellip;</a>
                </td>
            </tr>
        {% endif %}
        {% for node in tree %}
            <tr class="{{ odd ? 'odd' : 'even' }}">
            {% if node.tree %}
                {% set full_path = active_path ~ (tree.isRoot ? '' : '/') ~ node.name %}
                <td>
                    <a class="icon tree" href="{{ path(subtreeRoute, {'reference': ref ~ '/' ~ full_path}) }}">
                        {{ node.name }}
                    </a>
                </td>
                <td>
                    <a class="commit" href="{{ path('repository_commit', { 'ref': repository.getLog(node, active_branch).sha }) }}">
                        {{ repository.getLog(node, active_branch).message }}
                    </a>
                </td>
            {% elseif node.link %}
                <td class="{{ odd ? 'odd' : 'even' }}" colspan="2">
                    <a class="icon link" href="#">{{ node.name }} ({{ node.sha }})</a>
                </td>
            {% else %}
                {% set full_path = active_path ~ (tree.isRoot ? '' : '/') ~ node.name %}
                <td>
                    <a class="icon blob" href="{{ path(subtreeRoute, {'reference': ref ~ '/' ~ full_path }) }}">
                        {{ node.name }}
                    </a>
                </td>
                <td>
                    <a class="commit" href="{{ path('repository_commit', { 'ref': repository.getLog(node, active_branch).sha }) }}">
                        {{ repository.getLog(node, active_branch).message }}
                    </a>
                </td>
            {% endif %}
            {% set odd = not odd %}
        {% else %}
            {% if tree.blob %}
                <td class="content">
                    <pre class="brush: {{ tree.blob.getExtension ? tree.blob.getExtension : 'text' }}">
                        {%for line in repository.outputContent(tree.blob, active_branch) %}
                            {{ line }}
                        {% else %}{% spaceless %}
                            empty file
                        {% endspaceless %}{% endfor %}
                    </pre>
                </td>
            {% else %}
                <td class="empty">Empty repository</td>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
</section>