{% extends "CypressGitElephantBundle::base.html.twig" %}

{% block content %}
    <section class="content">
        {% for diff_object in diff %}
            <table class="diff{{ loop.last ? ' last' : '' }} {{ diff_object.mode }}">
                <thead>
                    <tr>
                        <th colspan="2">{{ diff_object }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chunk in diff_object %}
                        {% for line in chunk %}
                            <tr class="{{ line.type }}">
                                <td>{{ line.number }}</td>
                                <td><pre>{{ line }}</pre></td>
                            </tr>
                        {% endfor %}
                        {% if loop.index < loop.length %}
                            <tr class="dots">
                                <td class="ln">&nbsp;</td>
                                <td class="text">&hellip;</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </section>
{% endblock %}